@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ZwartOpWit.Models.Viewmodels.DepartmentVM
@{

}
<h1>@Localizer["Create"]</h1>
<form asp-action="Create" asp-controller="Department">
    <div>
        <div class="form-group">
            <label asp-for="department.Name">@Localizer["DepartmentName"]:</label>
            <input asp-for="department.Name" class="form-control" />
            <span asp-validation-for="department.Name" class="text-danger"></span>
        </div>
        <a class="btn btn-default" asp-area="" asp-controller="Department" asp-action="Index">@Localizer["Back"]</a>
        <input type="submit" value="@Localizer["Add"]" class="btn btn-default" />
    </div>
</form>

