@model ZwartOpWit.Models.Viewmodels.DepartmentVM
@{

}
<h1>Read</h1>
<div>
    <table class="table table-condensed">
        <tr>
            <td>Department Name</td>
            <td>@Model.department.Name</td>
        </tr>
    </table>
</div>

