@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ZwartOpWit.Models.Viewmodels.DepartmentVM
@{

}
<h1>@Localizer["Read"]</h1>
<div>
    <table class="table table-condensed">
        <tr>
            <td>@Localizer["DepartmentName"]</td>
            <td>@Model.department.Name</td>
        </tr>
    </table>
    <a class="btn btn-default" asp-area="" asp-controller="Department" asp-action="Index">@Localizer["Back"]</a>
</div>

