@model ZwartOpWit.Models.Viewmodels.JobImportVM
@{
    ViewData["Title"] = "View";
}

<h1>Import </h1>
<form method="post" asp-action="doImport" asp-controller="Job" enctype="multipart/form-data">
    <div class="form-group">
        <input type="text" name="tekst"/>
        <input type="file" name="myFile" id="myFile" multiple class="form-control" />
    </div>
    <input type="submit" value="Upload" class="btn btn-default" />
</form>

