@{
}
@model ZwartOpWit.Models.Viewmodels.JobListVM
<h1>Job is gestart</h1>
<div>
    <form asp-controller="Job" asp-action="StopStitch" asp-route-jobId="@Model.jobId">
        <input type="submit" value="stop"/>
    </form>
    
</div>
