@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model ZwartOpWit.Models.UserVM
@{

}
<h1>@Localizer["Create"]</h1>
<form asp-action="Create" asp-controller="User" method="post" class="form-horizontal">
    <div>
    <div class="form-group">
        <label asp-for="Email" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ApplicationRoleId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                <option>Please select</option>
            </select>
        </div>
    </div>
    <a class="btn btn-default" asp-area="" asp-controller="User" asp-action="Index">@Localizer["Back"]</a>
    <button type="submit" class="btn btn-default">@Localizer["Add"]</button>
    </div>
</form>