@model ZwartOpWit.Models.UserVM
@{

}
<h1>Read</h1>
<div>
    <table class="table table-condensed">
        <tr>
            <td>Username</td>
            <td>@Model.user.Username</td>
        </tr>
        <tr>
            <td>Email</td>
            <td>@Model.user.Email</td>                     
        </tr>
    </table>
</div>
 
