@model ZwartOpWit.Models.UserVM

@{

}
<h1>Update</h1>
<div>
    @if (Model.UserId != null)
    {
        <form asp-action="Update" asp-controller="User">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationRoleId" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <select asp-for="ApplicationRoleId" asp-items="@Model.ApplicationRoles" class="form-control">
                        <option>Please select</option>
                    </select>
                </div>
            </div>
            <input asp-for="UserId" type="hidden" value="@Model.UserId" />
            <input type="submit" value="Update User" class="btn btn-default" />
        </form>
    }
    else
    {
        <h2>No user found</h2>
    }
</div>


