@model ZwartOpWit.Models.Viewmodels.MachineVM
@{

}
<h1>Read</h1>
<div>
    <table class="table table-condensed">
        <tr>
            <td>Name</td>
            <td>@Model.machine.Name</td>
        </tr>
        <tr>
            <td>Department</td>
            <td>@Model.machine.Department.Name</td>
        </tr>
    </table>
</div>