@{
    ViewData["Title"] = "Forgot Password Confirmation";
    Layout = "_layoutLogin";
}

<h2>@ViewData["Title"].</h2>
<p>
    Please check your email to reset your password.
    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-default">Back to Log in</a>
</p>
